*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto,  Helvetica, Arial, sans-serif;
  background-color: #0D1117;
  color: #E6EDF3;
  line-height: 1.5;
}
a{
  text-decoration: none;
  color: inherit;
}
button{
  cursor: pointer;
}
